.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    z-index: 2;
}

.text1 {
    width: 45%;
    margin-top: 2%;
    font-size: 20px;
}

.peopleAndBooks {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-64%);
    width: 45%;
    height: auto;
    z-index: 10;
}

.backgroundImages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
    overflow: hidden;
}

.button1 {
    margin-top: 2%;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 2px 8px cubic-bezier(0.4, 0, 0.2, 1);
    width: auto;
    padding: 20px 36px;
    font-size: 15px;
    background-color: #FFE8E3;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
}
    .join {
    padding-top: 15%;
    font-family:'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}

.bookClub {
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}